<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="/usr/local/bin/python3"
                  arguments="-m gunicorn --bind=0.0.0.0:%HTTP_PLATFORM_PORT% --workers=2 --timeout=120 --worker-class=uvicorn.workers.UvicornWorker app.main:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="/home/LogFiles/python.log"
                  startupTimeLimit="120">
    </httpPlatform>
  </system.webServer>
</configuration> 